[Unit]
Description=gree climate bridge service
After=network.target mosquitto.service

[Service]
ExecStart=/home/pi/squeezebox_assistant/scripts/gree_climate.sh

[Install]
WantedBy=multi-user.target
